<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th id="cursos">Cursos</th>
        </tr>
        <tr>
            <th>1° Ano </th>
        </tr>
    </thead>
    <tbody>
        <tr>Física I</tr>
        <tr>Cáculo Diferencial e Integral I</tr>
        <tr>Vetores, Curvas e Superfícies</tr>
        <tr>Desenho</tr>
        <tr>Química Geral</tr>
        <tr>Algoritmos e Programação</tr>
        <tr>Introdução à Engenharia</tr>
        <tr>Projetos e Atividades Especiais I</tr>
    </tbody>

    <thead>
        <tr><th>2° Ano</th></tr>
    </thead>
    <tbody>
        <tr>Física II</tr>
        <tr>Mecânica Geral</tr>
        <tr>Resistência dos Materias</tr>
        <tr>Matemática Computacional</tr>
        <tr>Fenômenos de Transporte</tr>
        <tr>Cálculo Diferencial e Integral II</tr>
        <tr>Fundamentos de Circuitos Digitais</tr>
        <tr>Fundamentod de Circuitos Analógicos</tr>
        <tr>Estrutura de Dados e Técnicas de Programação</tr>
        <tr>Projetos e Atividades Especiais II</tr>
    </tbody>

    <thead>
        <tr><th>3° Ano</th></tr>
    </thead>
    <tbody>
        <tr>Sistemas Operacionais</tr>
        <tr>Arquitetura e Organização de Computadores</tr>
        <tr>Linguagens de Programação I</tr>
        <tr>Linguagens Formais, Autômatos e Compiladores</tr>
        <tr>Sistemas de Controle</tr>
        <tr>Circuitos Elétricos</tr>
        <tr>Circuitos Eletrônicos</tr>
        <tr>Tópicos Avançados em Estruturas de Dados</tr>
        <tr>Sistemas e Sinais</tr>
        <tr>Estatística</tr>
        <tr>Projetos e Atividades Especiais III</tr>
    </tbody>

    <thead>
        <tr><th>4° Ano</th></tr>
    </thead>
    <tbody>
        <tr>Engenharia de Software</tr>
        <tr>Linguagens de Programação II</tr>
        <tr>Banco de Dados</tr>
        <tr>Redes de Computadores</tr>
        <tr>Microcontroladores e Sistemas Embarcados</tr>
        <tr>Empreendedorismo e Gestão</tr>
        <tr>Projetos e Atividades Especiais IV</tr>
    </tbody>

    <thead>
        <tr><th>5° Ano</th></tr>
    </thead>
    <tbody>
        <tr>Inteligência Artificial</tr>
        <tr>Ciência de Dados</tr>
        <tr>Segurança de Informação</tr>
        <tr>Trabalho de Conclusão de Curso</tr>
        <tr>Higiene e Segurança do Trabalho</tr>
        <tr>Economia</tr>
        <tr>Direito Empresarial</tr>
        <tr>Disciplinas Eletivas</tr>
        <tr>Estágio Supervisionado Obrigatório</tr>
        <tr>Língua Brasileira de Sinais-Básico (optativa)</tr>
        <tr>Língua Brasileira de Sinais-Avançado (optativa)</tr>
    </tbody>

</table>