h4{
    color:rgb(195, 54,54);
}
h1{
    text-align: center;
    border: 2px dotted;
}
h3{
    border: 2px dotted;
    font-family: fantasy;
    font-size: 22px;
    color: #61c496;
    text-align: center;
}
strong{
    color: blueviolet;
    background-color: coral;
}

.materiaopcional{
    color: crimson;
    background-color:darkgray;
}
.programacao{
    color: deeppink;
    background-color: darkorange;
    font-size: 22px;
}

.rodape {    
    border-top: 1px solid #CCC;    
    border-bottom: 1px solid #CCC;    
    padding: 8px;    
    margin-top: 12px;    
    width: 100%;    
    display: inline-block; 
}