<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Professores</th>
        </tr>
        <tr><th>Engenharia de Computação</th></tr>
    </thead>
    <tbody>
        <tr>Angelo Sebastião Zanini</tr>
        <tr>Aparecido Valdemir de Freitas</tr>
        <tr>Everson Denis</tr>
        <tr>Murilo Zanini de Carvalho</tr>
        <tr>Sergio Ribeiro Augusto</tr>
        <tr>Rodrigo Bossini Tavares Moreira</tr>
        <tr>Ana Paula Goncalves Serra</tr>
        <tr>Marco Antonio Furlan de Souza</tr>
        <tr>Tiago Sanches da Silva</tr>
    </tbody>
</table>